<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Drinkr Home</title>
</head>
<body style="text-align: center" background="/static/images/cocktailb.jpg">
  <h2>Welcome to Drinkr</h2>
   {% block navbar %}
   {{nav.mynavbar.render()}}
   {% endblock %}
   <br>
   <br>

  <img src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29ja3RhaWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
  style="margin-left:-13%;" width="600">
  <img src="https://images.unsplash.com/photo-1587223962930-cb7f31384c19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y29ja3RhaWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
  style="margin-left: 1%;" height="400">

</body>
</html>
