<!doctype html>
<html lang="en">
  <head>
    {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}

  <title>Profile Page</title>
    {% endblock %}
  </head>
  <body background="/static/images/cocktailb.jpg">
    {% block content %}
 <div class="container">
 <h1 style="text-align: center">{{user.username}}'s Profile Page</h1>
 {% block navbar %}
 {{nav.profilenavbar.render()}}
 {% endblock %}
 <br>
 {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for msg in messages %}
              <p>{{msg}}</p>
          {% endfor %}
      {% endif %}
  {% endwith %}
 <form action="/edit" method="POST">
 <p style="text-align: center">
    Username: <input type="text" name="usrnm" 
    placeholder="username" value="{{user.username}}"></input><br>
    Password: <input type="password" name="pwd" 
    placeholder="username" value="{{user.password}}"><br><br>
    <input type="submit" value="Edit Account"></input>
    <br> <br>
    <button href="url_for('logout', user=user)">Logout</button>
 </p>
 </form>
 </div>
    {% endblock %}

    {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    {% endblock %}
    
  </body>
</html>
