<!--<html>
  <head>
    <title>Sign up Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Create an Account</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" 
        value="{{request.form.username }}">
         <input type="password" placeholder="Password" name="password" 
         value="{{request.form.password }}">
        <input class="btn btn-default" type="submit" value="Signup">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>-->
<html>
    <head>
        <meta charset="UTF-8">
        <title> Register </title>
    </head>
    <body background="/static/images/cocktailb.jpg"></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Register</h1>
                {% block navbar %}
                {{nav.loginnavbar.render()}}
                {% endblock %}
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('signup') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    Enter a username:
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
                    Enter a password:
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
                    <input type="submit" class="btn" value="Sign Up"></br>
                </form>
            </h2>
          </div>
        </div>
    </body>
</html>
