<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}
        <title>View Wishlist</title>
        {% endblock %}
    </head>
    <body>
        <h1 style="text-align:center">User Favorites</h1>        
        <ul>
        {% for drink in drinks_name %}
        <li> {{ drink }} </li>
        {% endfor %}
        </ul>    
        {% block content %}{% endblock %}
        <p>{{productName1}}</p>
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{v2}}" width="300" height="300" alt="Card image cap">
        </div>
    </body>
</html>